body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  background-color: #f0e4d7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
  overflow: hidden; /* para evitar o scroll se o conteúdo ultrapassar a tela */
}

.background-trincheira {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.trincheira-image {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  top: 45%;
  background-size: cover;
  z-index: -1;
}
.btn-image {
  width: 20vw; /* Tamanho responsivo do botão */
  max-width: 90%; /* Tamanho máximo do botão */
  height: auto; /* Mantém a proporção da imagem */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.btn-voltar {
  position: absolute;
  top: 2%; /* Distância do topo */
  left: 2%; /* Distância da esquerda */
  background: none;
  border: none;
  cursor: pointer;
  width: 5%; /* Aumenta o tamanho do botão */
  height: 5%; /* Aumenta o tamanho do botão */
  z-index: 100; /* Define um z-index maior para garantir que o botão esteja acima de outros elementos */
  transition: transform 0.3s ease; /* Adiciona transição suave */
}

.btn-voltar img {
  margin-top: 10%;
  width: 200%; /* Aumenta a imagem para 200% do tamanho do botão */
  height: auto; /* Mantém a proporção da imagem */
  position: relative; /* Permite que a imagem se posicione corretamente */
  left: -20%; /* Ajusta a posição da imagem para centralizá-la */
  transition: transform 0.3s ease; /* Adiciona transição suave à imagem */
}

.btn-voltar:hover {
  transform: scale(1.2); /* Aumenta o botão de voltar ao passar o mouse */
}

.btn-voltar:hover img {
  transform: scale(
    1.2
  ); /* Aumenta a imagem do botão de voltar ao passar o mouse */
}

.btn-interaction {
  position: absolute;
  width: 25%; /* ajuste de acordo com o tamanho desejado */
  height: auto;
  top: 30%; /* Exemplo de posicionamento */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#btnInteraction1 {
  top: 5%;
  left: 13%;
}

#btnInteraction2 {
  top: 27%;
  left: 28%;
}

#btnInteraction3 {
  top: 18%;
  left: 45%;
}

#btnInteraction4 {
  top: 22%;
  left: 56%;
}

#btnInteraction5 {
  top: 5%;
  left: 85%;
}

.btn-interaction {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.btn-interaction img {
  width: 100%;
  height: auto;
}

.image-container {
  position: absolute;
  z-index: 4;
  text-align: center;
}

/* .interaction-image {
  width: 10vw;
  height: auto;
  position: relative;
  bottom: 0;
}
 */
.celular {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.textoCaption {
  text-align: center; /* Centraliza o texto */
  width: auto; /* Ajusta a largura para o conteúdo */
}

.caption {
  position: fixed;
  margin-top: 10px;
  color: #000;
  display: block;
  background-color: #fff; /* Adiciona fundo branco */
  font-weight: bold; /* Torna a fonte negrita */
  font-size: 18px;
  padding: 0 0.5%;
}

.posRetaguarda {
  transform: translate(0, 1vh);
}

.posSegundaTrincheira {
  transform: translate(6vh, 0);
}

.posTunel {
  transform: translate(6vh, 0);
}

.posPrimeiraTrincheira {
  transform: translate(6vh, 1vh);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  overflow: visible; /* Permite que a imagem da professora se sobressaia */
}
/* Interação do modal da professora explicando */
.modal {
  background: #f5e1d3;
  border-radius: 10px;
  display: flex; /* Usar flexbox para centralização */
  padding: 20px;
  max-width: 60%;
  z-index: 3000; /* Garante que o modal fique acima do overlay */
  text-align: left;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  opacity: 0; /* Opacidade inicial */
  animation: fadeInRight 0.5s forwards; /* Animação ao aparecer */
}

.professor-image {
  width: 10vw; /* Ajuste conforme necessário */
  position: absolute;
  transform: translate(60%, -120%);
  z-index: 3000; /* Certifique-se de que o z-index seja maior que o modal */
  right: -5%; /* Ajuste para posicionar sobre o modal */
  top: 1%; /* Ajuste este valor para mover a imagem para cima */
  display: block;
}

.left-container {
  padding-right: 2%;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Começa fora da tela à direita */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Termina na posição original */
  }
}

.dialogue {
  margin-top: -10px; /* Espaço para a imagem da professora */
  color: #000; /* Cor do texto */
  font-family: "Quicksand", sans-serif; /* Fonte Quicksand */
  font-size: 20px; /* Tamanho da fonte */
  font-style: normal; /* Estilo da fonte */
  font-weight: 400; /* Peso da fonte */
  line-height: normal; /* Altura da linha */
  padding: 15px 45px 15px 0; /* Padding: top, right, bottom, left */
  border-radius: 10px; /* Bordas arredondadas */
  background: none; /* Remove o fundo branco */
  box-shadow: none; /* Remove a sombra */
}

.next-button {
  margin-top: 20px;
  color: var(--Complementares-Ensino-fundamental-1, #de293d); /* Cor vermelha */
  font-family: "Quicksand", sans-serif; /* Fonte Quicksand */
  font-size: 20px; /* Tamanho da fonte */
  font-style: normal; /* Estilo da fonte */
  font-weight: 700; /* Peso da fonte */
  line-height: normal; /* Altura da linha */
  text-align: center; /* Centraliza o texto */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  background: none; /* Remove qualquer fundo */
  border: none; /* Remove bordas */
  padding: 0 0 15px 0; /* Remove padding do topo */
}

/* Ajuste os tamanhos específicos para as imagens nos containers de interação */
#imageContainer1 {
  top: -4.5%;
  left: 10%;
  width: 15%;
  height: auto;
}

#imageContainer1 img {
  width: 100%;
}

#imageContainer2 {
  top: 20.5%;
  left: 16%;
  width: 17%;
  height: auto;
}

#imageContainer2 img {
  width: 20%;
}

#imageContainer3 {
  top: 17%;
  left: 31%;
  width: 17%;
  height: auto;
}

#imageContainer3 img {
  width: 45%;
}

#imageContainer4 {
  top: 7%;
  left: 52%;
  width: 17%;
  height: auto;
}

#imageContainer4 img {
  width: 40%;
}

#imageContainer5 {
  top: -3%;
  left: 63%;
  width: 34%; /* Aumentado para acomodar as duas imagens lado a lado */
  height: auto;
  display: flex; /* Usado flexbox para alinhar as imagens horizontalmente */
  justify-content: space-between; /* Distribui as imagens igualmente no container */
}

#imageContainer5 img {
  width: 35%; /* Reduzido para que as imagens sejam exibidas lado a lado */
}

#imageContainer5 .titulo5 {
  background-color: #fff; /* Fundo branco */
  padding: 2px; /* Diminui o padding para 2px */
  border-radius: 5px; /* Mantém as bordas arredondadas */
}

@media (max-width: 1980px) {
  #btnInteraction1,
  #btnInteraction2,
  #btnInteraction3,
  #btnInteraction4,
  #btnInteraction5 {
    width: 7%; /* Ajuste para telas ainda menores */
  }
}

/* Media query para telas menores que 1366px */
@media (max-width: 1366px) {
  #btnInteraction1,
  #btnInteraction2,
  #btnInteraction3,
  #btnInteraction4,
  #btnInteraction5 {
    width: 8%; /* Ajuste para telas ainda menores */
  }
}

/* Media query para telas menores que 768px */
@media (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  #btnInteraction1,
  #btnInteraction2,
  #btnInteraction3,
  #btnInteraction4,
  #btnInteraction5 {
    width: 10%; /* Ajuste para telas ainda menores */
  }
}

/* Teste commit */
.btn-image {
  /*margin-top: -50%;
  width: 20vw; /* Tamanho responsivo do botão */
  max-width: 90%;
}
.btn-conhecer {
  position: absolute;
  top: -2%; /* Alinhado ao topo */
  right: -5%; /* Alinhado à direita */
  background: none;
  border: none;
  cursor: pointer;
  width: 15%; /* Aumenta o tamanho do botão */
  height: 20%; /* Aumenta o tamanho do botão */
  z-index: 1001; /* Define um z-index maior para garantir que o botão esteja acima de outros elementos */
  transition: transform 0.3s ease; /* Adiciona transição suave */
}

.btn-conhecer img {
  width: 200%; /* Aumenta a imagem para 200% do tamanho do botão */
  height: auto; /* Mantém a proporção da imagem */
  position: relative; /* Permite que a imagem se posicione corretamente */
  left: -50%; /* Ajusta a posião da imagem para centralizá-la */
}

.close {
  color: #aaa; /* Cor do botão de fechar */
  position: absolute; /* Posiciona o botão de fechar */
  top: 10px; /* Distância do topo */
  right: 15px; /* Distância da direita */
  font-size: 28px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
}

.close:hover,
.close:focus {
  color: black; /* Cor ao passar o mouse */
  text-decoration: none; /* Remove sublinhado */
  cursor: pointer; /* Muda o cursor */
}

/* -------------------------------------------------- */

.virarTela {
  display: none;
}

@media screen and (max-width: 1100px) and (orientation: portrait) {
  .virarTela {
    display: flex; /* Exibe a tela de aviso */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: rgba(0, 0, 0, 0.7);
  }
}

#conhecerModal {
  display: none; /* Inicialmente escondido */
  z-index: 2000; /* Garante que o modal fique acima de outros elementos */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  display: flex; /* Usar flexbox para centralização */
  justify-content: center !important; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 100%; /* Aumenta a largura do modal para 90% da tela */
  height: 100%; /* Aumenta a altura do modal para 90% da tela */
  max-width: none; /* Remove o limite de largura máxima */
  max-height: none; /* Remove o limite de altura máxima */
}

.modal-content {
  position: relative;
  overflow: visible; /* Permite que o conteúdo transborde */
  width: auto; /* Ajusta a largura para 100% do contêiner do modal */
  height: 90%; /* Ajusta a altura para 100% do continer do modal */
  display: flex; /* Usar flexbox para o conteúdo */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.gif-image {
  width: 100%; /* Ajusta a largura para 100% do contêiner do modal */
  height: auto; /* Mantém a proporção da imagem */
  max-height: 100%; /* Garante que a altura não exceda o contêiner */
  object-fit: contain; /* Garante que a imagem se ajuste ao espaço do contêiner sem cortar */
  display: block; /* Garante que a imagem seja tratada como um bloco para centralização */
}

/* Estilos específicos para mobile */
@media (max-width: 768px) {
  .modal {
    width: 90%; /* Ajuste a largura conforme necessário */
    max-width: 600px; /* Limite a largura máxima */
    margin: auto; /* Centraliza o modal */
    padding: 15px; /* Ajuste o padding para mobile */
    background-color: #f5e1d3; /* Cor de fundo */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    flex-direction: row; /* Alinha os itens na horizontal */
    align-items: flex-end; /* Alinha os itens na parte inferior */
    margin-top: 20px; /* Adiciona espaço acima do modal */
    margin-bottom: 20px; /* Adiciona espaço abaixo do modal */
  }

  .btn-image {
    max-width: 130%;
  }
  .btn-conhecer img {
    margin-top: 3%;
    left: -65%;
  }
  .btn-voltar img {
    width: 300%; /* Aumenta a imagem para 200% do tamanho do botão */
  }
  .caption {
    position: fixed;
    margin-top: 10px;
    color: #000;
    display: block;
    background-color: #fff; /* Adiciona fundo branco */
    font-weight: bold; /* Torna a fonte negrita */
    font-size: 16px;
    transform: initial;
    padding: 0;
  }

  .professor-image {
    width: 36vh; /* Ajuste o tamanho da imagem da professora */
    display: flex; /* Adicionado para garantir que a imagem seja tratada como um flex item */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-right: 2%; /* Espaço entre a imagem e o texto */
    position: relative; /* Sobrescreve a posição absoluta da classe externa */
    transform: none; /* Sobrescreve a transformação da classe externa */
  }

  .dialogue {
    font-size: 16px; /* Ajuste o tamanho da fonte para mobile */
    padding: 10px; /* Ajuste o padding para mobile */
    text-align: left; /* Alinha o texto à esquerda */
    margin-right: 5px; /* Espaço entre o texto e a imagem */
  }

  .textoCaption {
    display: block;
    width: 110px;
  }

  #Retaguarda {
    transform: translateX(-40px);
    padding: 0 1%;
  }

  #Tunel {
    transform: translate(35px, -10px);
    padding: 0 1% 0 1%;
  }
  #SegundaTrincheira {
    margin-top: 5px;
  }
  #PrimeiraTrincheira {
    transform: translate(70px, -60px);
  }
  #ZonaMinada {
    transform: translate(45px, -17px);
    padding: 0 1%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 2, 2, 0.45); /* Cor #140202 com 45% de opacidade */
  display: none; /* Inicialmente escondido */
  z-index: 1999; /* Deve estar abaixo do modal, mas acima de outros elementos */
}

.titulo5-container {
  display: flex; /* Usar flexbox para centralizar */
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 10px; /* Espaço acima da legenda */
}

.titulo5 {
  margin-top: 20px;
  font-size: 18px;
  color: #000;
  display: block;
  background-color: #fff; /* Adiciona fundo branco */
  padding: 10%; /* Aumentado o padding para 10% para melhor visualização */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  font-weight: bold; /* Torna a fonte negrita */
}

/* Efeito de hover para o botão "Conhecer Mais" */
.btn-conhecer:hover {
  transform: scale(1.2); /* Aumenta o botão ao passar o mouse */
}

@media (max-width: 1366px) {
  .btn-voltar {
    width: 7%;
  }
  .btn-conhecer {
    width: 20%;
  }

  .btn-conhecer img {
    margin-top: 10%;
  }
}
