@import url('https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i|Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i|Cormorant:300,300i,400,400i,500,500i,600,600i,700,700i|Crimson+Text:400,400i,600,600i,700,700i|Domine:400,700|Noto+Serif+JP:200,300,400,500,600,700,900|Playfair+Display:400,400i,700,700i,900,900i|Quattrocento:400,700|Playfair+Display:400,400i,700,700i,900,900i|Source+Serif+Pro:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap');

html {
	overflow-y: auto !important;
}

p {
	font-family: 'Source Serif Pro', serif;
	font-family: 'Domine', serif;
	font-family: 'Quattrocento', serif;
	line-height: 2;
	letter-spacing: -0.1px;
}

#quiz header {
	border-bottom: 0px solid #dbdbdb !important;
	background-color: transparent;
	justify-content: center;
	padding: .75rem;
	/*box-shadow: 0px 1px 1.5px #dbdbdb;*/
	margin: 0;
}

#quiz footer {
	border-top: 0px solid #dbdbdb !important;
	background-color: #f9f7f1;
	justify-content: center;
	padding: .75rem;
	font-weight: bold;
	box-shadow: 0px -2px 1.5px rgba(10, 10, 10, 0.1);
	bottom: 41px;
}

.btn {
	-webkit-filter: drop-shadow(1px 1px 2px #222);
	filter: drop-shadow(1px 1px 2px #222);
}


.title.fadeIn {
	background-repeat: no-repeat;
	background-position: left top;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-name: fade;
	animation-name: fade;
	text-align: center;
	margin: auto;
}

.section {
	background-color: #fbfbfb;
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.title img {
	display: inline;
}

.box {
	background-color: #f9f7f1;
}



/* ------------------- ESTILOS PARA O JORNAL ----------------------- */

html {}

body {
	font-family: 'Playfair', serif;
}

.recurso #page {
	padding: 0.5rem;
	background: #f9f7f1;
	box-shadow: 5px 0px 20px #ccc;
	overflow: hidden;
}

.recurso #header {
	margin-top: 1rem;
	height: 100px;
}

#header .content {
	font-size: 0.6rem;
}

#header .content p {
	line-height: 1.3;
}

.recurso .middle h1 {
	font-size: 4.7rem;
	margin: 0;
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: -1px;
}

.recurso .wrap {
	margin: 1rem;
	border-top: 2px solid #aaa;
	background: #f9f7f1;
}

.recurso .h-line {
	border-top: 2px solid #aaa;
}

.recurso .h-line:last-child:after {
	border-bottom: 2px solid #aaa;
}

.recurso .title.h-line {
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	padding: .3rem;
}

#main {
	padding: .75rem;
}

#main h1 {
	margin-top: 0.5em;
}

.fonte {
	letter-spacing: -0.4px;
}

.column {
	padding: .45rem;
}

@media only screen and (max-width: 420px) {
	.section.is-fullheight .hero-body {
		padding: 0 15px;
	}

	.recurso #header {
		height: 95px;
	}

	.title.is-1 {
		font-size: 2rem;
	}

	.recurso .middle h1 {
		font-size: 3.5em;
	}
}

.creditos {
    background-color: #EA672A;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: white;
    width: 45px;
    border-radius: 5px 5px 0 0;
    bottom: 41px;
    right: 27px;
    position: absolute;
    /* box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
    padding: 0px 13px;
    border: none;
    z-index: 4;
}

.creditos:hover {
    transition: all 1s;
    color: white;
}

.rodape{
    height: 35px;
    background-color: #e2e1e1;
    border-top: 1px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    bottom: 0px;
    width: 100%;
    z-index: 5;
    position: absolute;
}
.marca{
    text-align: center;
    color: grey;
    font-size: 10px;
}

.modal-content {
    background-color: white;
    font-size: 10pt;
    overflow: hidden;
    padding: 15px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-content p {
    margin-bottom: 10px;
    color:#000;
    line-height: 1.2;
    text-align: left;
}

.modal-content p.dir {
    font-size: 7pt;
    text-align: center;
    margin-bottom: 2px;
}

hr {
    height: 1px;
    border: none;
    background-color: #666;
    margin: 15px 0;
}

.modal-content h2 {
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.2;
    color:#000;
    text-align: left;
    font-size: 1.2rem;
    text-transform: uppercase; 
}

.modal-content .modal-close {
    display: block;
    visibility: visible;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.relative {
	position: relative;
	z-index: 200;
}