body {
  margin: 0;

  background-image: url("assets/images/background-abertura.png"); /* Imagem de fundo */
  font-family: "Quicksand", sans-serif;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.modal {
  background: #f5e1d3;
  border-radius: 10px;
  width: 70% !important;
  height: 220px !important;
  z-index: 3000;
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
}

.left-container {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right-container {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogue {
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  width: 100%;
  height: 80%;
  overflow-y: none;
  margin-bottom: 10px;
}

.professor-image {
  width: 150px;
  height: auto;
  transform: translate(50%, -50%);
}

.next-button {
  color: #4283aa;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  padding: 0;
  margin-left: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2999;
}

/* Estilos para o botão do professor */
.professor-button {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 8%;
  cursor: pointer;
  z-index: 2000;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Começa fora da tela à direita */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Termina na posição original */
  }
}

.caption {
  margin-top: 10px;
  font-size: 18px;
  color: #000;
}

.virarTela {
  display: none; /* Inicialmente escondido */
}

@media screen and (max-width: 1100px) and (orientation: portrait) {
  .virarTela {
    display: flex; /* Exibe a tela de aviso */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: rgba(0, 0, 0, 0.7);
  }
  .virarTela img {
    max-width: 90%; /* Reduz o tamanho da imagem para 90% da tela */
    max-height: 90%; /* Reduz o tamanho da imagem para 90% da tela */
    position: absolute; /* Permite que a imagem se posicione corretamente */
    left: 50%; /* Ajusta a posição da imagem para centralizá-la */
    top: 50%; /* Ajusta a posição da imagem para centralizá-la */
    transform: translate(-50%, -50%); /* Centraliza a imagem */
  }
  .professor-image {
    width: 10vw; /* Ajuste conforme necessário */
    position: absolute;
    transform: translate(
      60%,
      -150%
    ); /* Ajuste para posicionar a imagem corretamente */
    z-index: 3000; /* Certifique-se de que o z-index seja maior que o modal */
    right: -5%; /* Ajuste para posicionar sobre o modal */
    top: 1%; /* Ajuste este valor para mover a imagem para cima */
    display: block;
  }
}

@media (max-width: 900px) {
  .btn-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
  }

  .btn-retornar {
    cursor: pointer;
    transition: transform 0.2s;
    width: 100%;
  }

  .btn-retornar:hover {
    transform: scale(1.1);
  }
  .modal {
    width: 90% !important; /* Usa porcentagem para ser mais flexível */
    height: 130px !important;
    top: 5%;
  }

  .modal-content {
    padding: 15px;
  }

  .left-container {
    flex: 3;
    padding-right: 15px;
  }

  .dialogue {
    font-size: 16px;
    height: 65px;
    margin-bottom: 8px;
  }

  .next-button {
    font-size: 13px;
    margin-top: 2%;
  }

  .professor-image {
    width: 80px;
    transform: translate(50%, -40%);
  }
}
