body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-image: url("assets/images/produtor/background-produtor.png"); /* Certifique-se de que o caminho está correto */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #fffad7;
  padding: 5vh 2vw; /* Padding relativo à altura e largura da viewport */
  border-radius: 2vw;
  box-shadow: 0 0.2vw 1vw rgba(0, 0, 0, 0.2);
  width: 40vw;
  max-width: 60%; /* Largura máxima para telas grandes */
  height: auto; /* Altura automática para se ajustar ao conteúdo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; /* Mudado para absolute para centralização */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza perfeitamente */
}

h1 {
  font-size: 2.5em;
  margin: 0 0 30px 0;
  color: #000;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 90%; /* Reduzido um pouco */
}

.button-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  width: 100%;
}

.option-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
  padding: 5px;
}

.option-button img {
  width: 100%;
  height: auto;
  transform: scale(1.1); /* Reduzido o scale para 1920px */
}

.option-button:hover {
  transform: scale(1.02);
}

.professor-button {
  position: fixed;
  top: 2%;
  right: 2%;
  width: 8%;
  cursor: pointer;
  transition: transform 0.2s;
}

.professor-button:hover {
  transform: scale(1.1);
}

.btn-voltar {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 60px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-voltar:hover {
  transform: scale(1.1);
}

.btn-voltar img {
  width: 140%;
  height: auto;
}

.modal {
  background: #f5e1d3;
  border-radius: 10px;
  width: 80% !important;
  height: 220px !important; /* Reduzido a altura total do modal */
  z-index: 3000;
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
}

.left-container {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right-container {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogue {
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  width: 100%;
  height: 80%; /* Reduzido a altura do diálogo */
  overflow-y: auto;
  margin-bottom: 10px; /* Reduzido o espaço entre o diálogo e o botão */
}

.professor-image {
  width: 150px;
  height: auto;
  transform: translate(50%, -50%);
}

.next-button {
  color: #4283aa;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  padding: 0;
  margin-left: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2999; /* Um a menos que o z-index do modal */
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.virarTela {
  display: none; /* Inicialmente escondido */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
}

.celular {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.modal-professor-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal-professor-img {
  width: 100px;
  height: auto;
}

/* Media Queries para responsividade */
@media (max-width: 1000px) {
  .container {
    width: 80vw;
    padding: 15px;
    margin-top: 2vh; /* Espaço para os botões fixos no topo */
  }
  .dialogue {
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 80px; /* Reduzido a altura do diálogo */
    overflow-y: none;
    margin-bottom: 10px; /* Reduzido o espaço entre o diálogo e o botão */
  }

  .button-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Mantém 2 colunas */
    gap: 15px;
    width: 100%;
  }

  .option-button {
    width: 100%;
    padding: 5px;
  }

  .option-button img {
    width: 100%;
    height: auto;
    transform: scale(0.9); /* Reduz um pouco o tamanho das imagens */
  }

  /* Ajustes para os botões fixos */
  .professor-button {
    width: 12%;
  }

  .btn-voltar {
    width: 50px;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
}

/* Ajuste adicional para telas muito pequenas */
@media (max-width: 900px) {
  
  .container {
    width: 60vw;
  }
  .next-button {
    margin-top: 2%;
  }
  .btn-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
  }

  .btn-retornar {
    cursor: pointer;
    transition: transform 0.2s;
    width: 100%;
  }

  .btn-retornar:hover {
    transform: scale(1.1);
  }
  .modal {
    width: 90% !important; /* Usa porcentagem para ser mais flexível */
    height: 130px !important;
    top: 5%;
  }

  .modal-content {
    padding: 15px;
  }

  .left-container {
    flex: 3;
    padding-right: 15px;
  }

  .dialogue {
    font-size: 13px;
    height: 65px;
    margin-bottom: 8px;
  }

  .next-button {
    font-size: 13px;
  }

  .professor-image {
    width: 80px;
    transform: translate(50%, -40%);
  }

  .overlay-image {
    width: 50%;
  }
  .overlay-image-primario {
    width: 80%;
  }
  .overlay-image-secundario {
    width: 80%;
  }
  .overlay-image-terciario {
    width: 80%;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 80vw; /* Ajustado para melhor proporção */
  }

  .button-container {
    width: 100%;
  }

  .button-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
  }

  .option-button img {
    transform: scale(1); /* Sem scale adicional para 1366px */
  }
}

.overlay-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 21, 45, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.text-content {
  text-align: center;
}

.overlay-image {
  max-width: 80%;
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
