@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html{
    background-color: #F2F2EB;
}

body {
    position: relative;
    height: 100%;
    min-height: 100vh;
    background: url(../img/bg.png);
}

.modal-content {
    background-color: white;
    font-size: 10pt;
    overflow: hidden;
    padding: 15px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-content p {
    margin-bottom: 10px;
}

.modal-content p.dir {
    font-size: 7pt;
    text-align: center;
    margin-bottom: 2px;
}

h1 {
    font-weight: 800;
    line-height: 1.2;
    font-size: 2em;
}

h2 {
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.2;
}

.creditos {
    background-color: #BF3945;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: white;
    border-radius: 15px 15px 0 0;
    bottom: 0;
    right: 25px;
    position: absolute;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0px 13px;
    border: none;
}

.creditos:hover {
    color: white;
}

.titulo {
    font-family: 'Holtwood One SC', serif;
}

.hero-body-alt{
    padding: 3rem 1.5rem 0;
}

.titulo{
    color: #F2594B;
}

.texto{
    margin-bottom: 1rem;
    color: #733C1D;
}

.cor01{
   background: #400711;
}

.cor02{
    background: #733C1D;
}

.cor03{
    background: #D95551;
}

.cor04{
    background: #BF3945;
}

.cor05{
    background: #af072a;
}

.cor06{
    background: #F28177;
}

.cor07{
    background: #FF4858;
}

.cor08{
    background: #F2594B;
}

.hidden{
    display: none;
}

.bt00{
    background: url(../img/botao-00.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: table-cell;
    opacity: 0.5;
}

.bt01{
    background: url(../img/botao-01.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: table-cell;
    opacity: 0.5;
}

.bt02{
    background: url(../img/botao-02.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: table-cell;
    opacity: 0.5;
}

.bt03{
    background: url(../img/botao-03.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: table-cell;
    opacity: 0.5;
}

.bt04{
    background: url(../img/botao-04.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: table-cell;
    opacity: 0.5;
}

.bt05{
    background: url(../img/botao-05.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: table-cell;
    opacity: 0.5;
}

.bt06{
    background: url(../img/botao-06.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: table-cell;
    opacity: 0.5;
}

.bt07{
    background: url(../img/botao-07.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: table-cell;
    opacity: 0.6;
}

.botao{
    cursor: pointer;
}

.botoes {
    padding-top: 0;
}

.bt00:hover,
.bt01:hover,
.bt02:hover,
.bt03:hover,
.bt04:hover,
.bt05:hover,
.bt06:hover,
.bt07:hover {
    opacity: 1;
}

.opacidade{
    opacity: 1;
}

.has-text-centered{
    text-align: -webkit-center !important;
}

.paisagem {
    border: 15px solid #F2F2EB;
    border-radius: 50px 50px 50px 0;
}

.retrato {
    border: 15px solid #F2F2EB;
    border-radius: 50px 50px 50px 0;
    width: 50%;
    margin: 0 25%;
}

.decoracao{
    width: 100%;
    height: 0.2rem;
}

.credito{
    padding: 0;
}

.align-retrato{
    margin-left: 25%;
    margin-right: 25%;
}

.cor01 .credito,
.cor02 .credito,
.cor03 .credito,
.cor04 .credito,
.cor05 .credito,
.cor06 .credito,
.cor07 .credito,
.cor08 .credito {
    color: #F2F2EB;
}

.cor01 .texto,
.cor02 .texto,
.cor03 .texto,
.cor04 .texto,
.cor05 .texto,
.cor06 .texto,
.cor07 .texto,
.cor08 .texto {
    color: #F2F2EB;
}

.legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 66.75%;
    left: 20.55%;
}


@media only screen and (max-width: 1921px) {
    .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 71%;
    left: 21%;
    }

    .cor03 .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 85%;
    left: 21%;
    }

    .cor07 .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 84%;
    left: 21%;
    }
}

@media only screen and (max-width: 1681px) {
    .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 71%;
    left: 21%;
    }

    .cor03 .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 85%;
    left: 21%;
    }

    .cor07 .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 84%;
    left: 21%;
    }
}

@media only screen and (max-width: 1441px) {
    .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 68%;
    left: 21%;
    }

    .cor03 .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 80%;
    left: 21%;
    }

    .cor07 .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 84%;
    left: 21%;
    }
}

@media only screen and (max-width: 1281px) {
    .legenda {
    width: 40%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 68%;
    left: 21%;
    }

    .cor03 .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 80%;
    left: 21%;
    }

    .cor07 .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 84%;
    left: 21%;
    }
}



@media only screen and (max-width: 1270px) {
    .legenda {
    width: 40%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 64%;
    left: 21%;
    }

    .cor03 .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 80%;
    left: 21%;
    }

    .cor07 .legenda {
    width: 35%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 83%;
    left: 21%;
    }
}

@media only screen and (max-width: 1025px) {
    .legenda {
    width: 40%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 61%;
    left: 21%;
    }

    .cor03 .legenda {
    width: 45%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 84%;
    left: 21%;
    }

    .cor07 .legenda {
    width: 45%;
    padding: 1rem;
    background: #F2F2EB;
    position: absolute;
    top: 82%;
    left: 21%;
    }
}

@media only screen and (max-width: 858px) {
    .section{
        padding: 3rem 3rem;
    }

    .legenda{
        width: 100%;
        padding: 0.75rem;
        background: #F2F2EB;
        position: inherit;
        top: 0;
        left: 0;
    }

    .cor03 .legenda{
        width: 100%;
        padding: 0.75rem;
        background: #F2F2EB;
        position: inherit;
        top: 0;
        left: 0;
    }

    .cor07 .legenda{
        width: 100%;
        padding: 0.75rem;
        background: #F2F2EB;
        position: inherit;
        top: 0;
        left: 0;
    }

    .paisagem {
        border: 5px solid #F2F2EB;
        border-radius: 0 0 35px;
    }

    .credito{
    padding: 0;
    }

    .botoes{
        padding-top: 0 !important;
    }

    .retrato{
        width: 60%;
        margin: 0 20%;
    }

    .align-retrato{
        margin: 0 20%;
    }

    .cor06 .paisagem{
        width: 100%;
        margin: 0;
    }

    .cor06 .credito{
        margin: 0;
    }

}

@media only screen and (max-width: 769px) {
    .retrato{
        width: 60%;
        margin: 0 20%;
    }

    .align-retrato{
        margin: 0 20%;
    }

    .cor06 .paisagem{
        width: 60%;
        margin: 0 20%;
    }

    .cor06 .credito{
        margin: 0 20%;
    }
    }

@media only screen and (max-width: 500px) {
    .bt00,
    .bt01,
    .bt02,
    .bt03,
    .bt04,
    .bt05,
    .bt06,
    .bt07,
    .bt08 {
        width: 50px;
        height: 50px;
    }

     .retrato{
        width: 80%;
        margin: 0 10%;
    }

    .align-retrato{
        margin: 0 10%;
    }

    .cor06 .paisagem{
        width: 80%;
        margin: 0 10%;
    }

    .cor06 .credito{
        margin: 0 10%;
    }


}

.cor05 .tex {
    color: #F2F2EB;
}

.questao {
    margin-bottom: 15px;
}

.questao p {
    display: inline-block;
    width: 85%;
    vertical-align: middle;
}

.questao input {
    display: inline-block;
    width: 30px;
    border: none;
    background: transparent;
    border-left: 2px solid #F2F2EB;
    border-right: 2px solid #F2F2EB;
    border-radius: 6px;
    padding: 0 5px;
    text-align: center;
    color: #fff;
    margin-right: 5px;
}

input:focus {
    outline: none;
}

@media only screen and (max-width: 970px) {
    .tex {
        padding: 30px;
    }
}