@font-face {
  font-family: 'Bodoni';
  src: url('fonts/BodoniBT-Book.eot');
  src: url('fonts/BodoniBT-Book.ttf');
  src: url('fonts/BodoniBT-Book.woff');
}
@font-face {
  font-family: 'Bodoni';
  src: url('fonts/BodoniBT-BookItalic.eot');
  src: url('fonts/BodoniBT-BookItalic.ttf');
  src: url('fonts/BodoniBT-BookItalic.woff');
  font-style:italic;
}
@font-face {
  font-family: 'Bodoni';
  src: url('fonts/BodoniBT-Bold.eot');
  src: url('fonts/BodoniBT-Bold.ttf');
  src: url('fonts/BodoniBT-Bold.woff');
  font-weight:bold;
}
@font-face {
  font-family: 'Bodoni';
  src: url('fonts/BodoniBT-BoldItalic.eot');
  src: url('fonts/BodoniBT-BoldItalic.ttf');
  src: url('fonts/BodoniBT-BoldItalic.woff');
  font-style:italic;
  font-weight:bold;
}
@font-face {
  font-family: 'Barbara';
  src: url('fonts/BarbaraScript.eot');
  src: url('fonts/BarbaraScript.ttf');
  src: url('fonts/BarbaraScript.woff');
}


@keyframes bg {
    0% 	{background-color:rgba(239,228,241,.5); }
    50% {background-color:rgba(41, 105, 243, 0.5); }
    100% {background-color:rgba(239,228,241,.5); }
}

* {border:0; margin:0; padding:0; user-select:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }
body {background-color:#000;}

#stage {display:block; width:1024px; height:768px; overflow:hidden; position:absolute; top:50%; left:50%; margin-top:-384px; margin-left:-512px;  background-color:#FFF;}

#creditoObj{display: block; position: absolute; top: 0; left: 0; z-index: 50; font-family: arial; font-size: 12px; pointer-events:none;}
#creditoObj .bt_CredObj{position: absolute; width: 75px; padding-right: 5px; height: 30px; top: 40px; left: -25px; background-color: #e0e0dddd; border: 2px solid #980303; border-radius: 20px; text-align: right; line-height: 32px; font-size: 30px; z-index: 2; box-shadow: 0 0 10px #000; cursor:pointer; color:#980303; pointer-events:auto;}
#creditoObj .conteudo_credObj{position: relative; top: 20px; left: -480px; background-color: #e0e0dddd; padding: 20px 20px 20px 80px; border-radius: 20px; box-shadow: 0 0 10px #000; border: 2px solid #980303; display: table; transition:1s all; overflow:hidden;}
#creditoObj .conteudo_credObj ul{list-style: none; float: left; clear: both; opacity:0;transition:.5s all;}
#creditoObj .conteudo_credObj li{display: table; margin-bottom: 10px;}
#creditoObj .conteudo_credObj .cargo{float: left; font-weight: bold; width: 170px; display: table; text-align: right;}
#creditoObj .conteudo_credObj .nome{text-align: left; float: right; width: 192px; margin-left: 4px;}
#creditoObj .conteudo_credObj .editora{float: left; clear: both; margin-top: 18px; opacity:0;transition:.5s all; position:relative;}
#creditoObj .conteudo_credObj .editora::before{content:''; position:absolute; width:115px; height:1px; background-color:#980303; top:-5px; left:-60px;}
	
#creditoObj.open .conteudo_credObj{left:-25px;}
#creditoObj.open .conteudo_credObj ul{opacity:1;transition:2s all;}
#creditoObj.open .conteudo_credObj .editora{opacity:1;transition:2s all;}

#creditoObj.right{right: 0; left:auto;}
#creditoObj.right .bt_CredObj{padding-left: 5px; right: -25px; text-align: left; left:auto;}
#creditoObj.right .conteudo_credObj{right: -480px; padding: 20px 60px 20px 20px; left:auto;}
#creditoObj.right.open .conteudo_credObj{right:-25px; left:auto;}


#abertura {display:block; width:1024px; height:768px; overflow:hidden; position:absolute; top:0; left:0; z-index:5; background-image:url('../imagens/abertura.jpg');}
#abertura .btInit{cursor:pointer; position:absolute; width:88px; height:75px; background-image:url('../imagens/bt_iniciar.png'); top:330px; left:680px;}

#mapa {display:none; width:1024px; height:768px; overflow:hidden; position:absolute; top:0; left:0; z-index:5; background-image:url('../imagens/jogo.jpg');}
#mapa .btInfo {cursor:pointer; position:absolute;}

#mapa .btInfo[data-info='faixa']	{top:10px; left:10px; width:281px; height:200px; background-image:url('../imagens/bt_faixa.png'); cursor:pointer;}
#mapa .btInfo[data-info='geo']		{top:20px; right:0; width:110px; height:93px; background-image:url('../imagens/bt_geografico.png'); cursor:pointer;}
#mapa .btInfo[data-info='just']		{top:400px; left:210px; width:155px; height:155px; background-image:url('../imagens/bt_justica.png'); cursor:pointer;}
#mapa .btInfo[data-info='clero']	{top:400px; left:550px;  width:150px; height:150px; background-image:url('../imagens/bt_clero.png'); cursor:pointer;}
#mapa .btInfo[data-info='igual']	{top:530px; left:790px; width:155px; height:155px; background-image:url('../imagens/bt_igualdade.png'); cursor:pointer;}
#mapa .btInfo[data-info='hab']		{top:250px; left:750px;  width:190px; height:190px; background-image:url('../imagens/bt_habitantes.png'); cursor:pointer;}
#mapa .btInfo[data-info='ref']		{bottom:20px; right:20px; width:42px; height:53px; background-image:url('../imagens/icone_ref.png'); cursor:pointer;}
#mapa .btInfo[data-info='perg']		{bottom:20px; left:0; width:124px; height:105px; background-image:url('../imagens/bt_interrogacao.png'); cursor:pointer;}




#info {display:none; width:100%; height:100%; overflow:hidden; position:absolute; top:0; left:0;  z-index:10; background-color:rgba(76,38,8,0.5);}
#info .btFechar{position:absolute; right:0px; top:0px; cursor:pointer; width:50px; height:50px; font-size:50px;}
#info .pop{display:none;  left:0; top:0; bottom:0; right:0; position:absolute; margin:auto; width:614px; height:475px; background:url('../imagens/bg_pop3.png') no-repeat center center;}
#info .pop.geo{background-image:url('../imagens/pop_geo.png');}
#info .pop.just{background-image:url('../imagens/pop_just.png');}
#info .pop.igual{background-image:url('../imagens/pop_igual.png'); left:100px;}
#info .pop.clero{background-image:url('../imagens/pop_clero.png'); }
#info .pop.hab{background-image:url('../imagens/pop_hab.png'); }
#info .pop.perg{background-image:url('../imagens/pop_perg.png'); width:593px; height:356px;}
#info .pop.ref{background-image:url('../imagens/pop_ref.png'); width:701px; height:558px;}
#info .pop .popTxt {float:left; font-family:bodoni; font-size:18px; line-height:23px; color:#e8dcc5; width:250px; margin:40px 0 0 300px;}
#info .pop .legImg {position:absolute; font-family:bodoni; font-size:15px; line-height:18px; color:#ffb94a; left:25px; top: 360px; width: 215px;}

#info .pop .imgIgual {position:absolute; width:401px; height:313px; background-image:url('../imagens/img_igual.png'); top:60px; right:350px; }
#info .pop .imgGeo {position:absolute; width:297px; height:445px; background-image:url('../imagens/img_geo.png'); top:10px; right:470px; }
#info .pop .imgJust {position:absolute; width:303px; height:309px; background-image:url('../imagens/img_just.png'); top:25px; right:350px;}
#info .pop .videoClero {position:absolute; width:356px; height:202px; top:15px; left:50px; margin:auto; border:3px solid #000; box-sizing:border-box;}
#info .pop .videoClero .mejs__controls *{transform:translateZ(1px);}
#info .pop.clero .popTxt {width:530px; margin:230px 50px;}
#info .pop.just .legImg {top: 345px; }
#info .pop.hab .popTxt {width:250px; margin:100px 0 0 100px;}
#info .pop.geo .legImg {width:105px; top:40px; left:165px;}
#info .pop.perg .popTxt {width:400px; margin:100px 0 0 100px; color:#000000;}
#info .pop.perg .btX {top:45px; right:15px; transform:scale(.8);}

#info .pop.just .referencia {position:absolute; font-family:Bodoni; font-size:15px; color:#96b57d; width:255px; left:25px; top: 390px; }
#info .pop.geo .referencia {position:absolute; font-family:Bodoni; font-size:15px; color:#96b57d; width:105px; top:290px; left:165px; }
#info .pop.clero .referencia {position:absolute; font-family:Bodoni; font-size:15px; color:#96b57d; width:110px; top:90px; left:415px; }


#info .pop.ref .titRef {float:left; font-size:35px; color:#ffb94a; line-height:40px; font-family:Barbara; display:inline-block; margin:50px 0 0 120px;}
#info .pop.ref .popTxt {clear:both; width:470px; margin:20px 0 0 120px; position:relative; }
#info .pop.ref .popTxt:before{content:''; position:absolute; width:90px; height:2px; background-color:#e8dcc5; left:0; top:-5px;}

#info .btEscrever{position:absolute; width:130px; height:60px; bottom:-25px; right:100px; background-image:url('../imagens/bt_escrever.png'); cursor:pointer;}
#info .pop.anotacoes{position:absolute; width:680px; height:558px; top:100px; left:0; right:0; margin:auto; background-image:url('../imagens/bg_anotacoes.png');}
#info .pop.anotacoes .popAnota{position:absolute; width:475px; height:385px; top:110px; left:90px; }
#info .pop.anotacoes .popAnota textarea{position:absolute; width:100%; height:100%; background-color:transparent;}
#info .pop.anotacoes .btSalvar{position:absolute; width:59px; height:64px; background-image:url('../imagens/bt_salvar.png'); cursor:pointer; top:-5px; right:60px;}



#info .pop.faixa{width:581px; height:350px; background-image:url('../imagens/bg_pop1.png'); font-family:Bodoni;}
#info .pop.faixa .popTxt{float:left; width:385px; margin:95px 0 0 120px; font-family:Bodoni; font-size:18px; color:#000000;}
#info .popTxt .link{cursor:pointer; color:#962a00; text-decoration:underline;}
#info .btX{top:-5px; right:-5px;}

#info .pop.thomas{width:776px; height:501px; background-image:url('../imagens/bg_pop2.png'); }
#info .pop.thomas .popTxt {font-family:bodoni; font-size:18px; line-height:23px; color:#e8dcc5; width:260px; margin:60px 0 0 480px;}
#info .pop.thomas .popTxt .nome{font-size:35px; color:#ffb94a; line-height:40px; font-family:Barbara; display:inline-block; }
#info .pop.thomas .popTxt small{font-size:20px; line-height:20px; color:#ffb94a; font-family:Barbara; display:inline-block; margin:10px 0 15px 0;}
#info .pop.thomas .btX{top:20px; right:-5px;}
#info .faixaIgual{position:absolute; font-family:Bodoni; font-size:15px; line-height:18px; color:#3a1c16; width:288px; height:372px; background-image:url('../imagens/faixa_igualitarismo.png'); box-sizing:border-box; padding:60px 25px 0 109px; top:-33px; right:-20px; display:none;}
#info .faixaIgual .tit{color:#962a00; font-size:28px; font-family:Barbara; margin-left:-15px; display:inline-block; margin-bottom:15px;}
#info .faixaIgual .linkE{color:#962a00; text-decoration:underline; cursor:pointer;}
#info .faixaIgual .btX{transform:scale(.5); top:25px; right:10px;}
#info .igual .linkF{color:#ff8a3b; text-decoration:underline; cursor:pointer;}

#info .faixaEstudos {position:absolute; width:0; height:287px; background:url('../imagens/faixa2.png') no-repeat right top; right:-60px; top:185px; transition:width .7s; overflow:hidden;}
#info .faixaEstudos.on {width:910px;}
#info .faixaEstudos .cont{position:absolute; right:80px; top:100px; width:775px;}
#info .faixaEstudos .cont .coluna{float:left; margin-left:15px;}
#info .faixaEstudos .cont .coluna .num{color:#962a00; font-family:Barbara; float:left; font-size:35px; line-height:35px;}
#info .faixaEstudos .cont .coluna .txt{float:left; width:215px; color:#3a1c16; font-size:18px; font-family:Bodoni; margin-left:5px;}
#info .faixaEstudos .cont .coluna .fonte{display:table; position:relative; color:#962a00; font-size:11px; line-height:12px; margin:10px 0 0; word-break: break-all;}
#info .faixaEstudos .cont .coluna .fonte:before{content:''; position:absolute; width:90px; height:2px; background-color:#e8dcc5; left:0; top:-5px;}
#info .faixaEstudos .btX{transform:scale(.7); top:-25px; right:-40px;}


.btX {position:absolute; width:49px; height:59px; background-image:url('../imagens/bt_x.png'); cursor:pointer;}




textarea, input { outline: none; }







