@import url("https://fonts.googleapis.com/css?family=Handlee");

body {
  position: relative;
  height: 100vh; /* Use a altura total da viewport */
  margin: 0; /* Remove margin padrão do body */
  display: flex;
  flex-direction: column; /* Empilha elementos verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  background: rgba(0, 0, 0, 0.05); /* Adiciona um leve fundo ao body */
}

.modal-content {
  background-color: white;
  font-size: 10pt;
  padding: 15px;
  border-radius: 10px;
  max-width: 90%; /* Limita a largura máxima para telas pequenas */
  overflow-y: auto; /* Permite rolagem se o conteúdo exceder a altura */
}

.modal-content p {
  margin-bottom: 10px;
}

.modal-content p.dir {
  font-size: 7pt;
  text-align: center;
  margin-bottom: 2px;
}

h1 {
  font-family: "Handlee", cursive; /* Mantém a fonte inicial do título */
  font-weight: 800;
  line-height: 1.2;
  font-size: 2em;
  background-color: white; /* Mantém o fundo branco apenas no título */
  padding: 20px; /* Adiciona padding ao título */
  border-radius: 10px; /* Adiciona borda arredondada ao fundo do título */
}

h2 {
  font-family: "Handlee", cursive; /* Mantém a fonte inicial para h2, se necessário */
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 1.2;
}

.creditos {
  background-color: #a3531e;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: white;
  border-radius: 15px 15px 0 0;
  position: absolute;
  bottom: 20px; /* Ajusta a posição na parte inferior */
  right: 25px;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0px 13px;
  border: none;
  z-index: 3;
}

.creditos:hover {
  color: white;
}

.hidden {
  display: none;
}

.fundo {
  background-image: url("../img/fundo.jpg");
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  opacity: 0.8;
  position: absolute; /* Mantém a imagem de fundo em posição fixa */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  z-index: 1; /* Coloca a imagem de fundo abaixo do conteúdo */
}

.conteudo {
  position: relative; /* Tira a posição absoluta para evitar problemas de centralização */
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  max-width: 90%; /* Limita a largura máxima do conteúdo */
}

@media only screen and (max-width: 450px) {
  .conteudo {
    width: 90%; /* Ajuste para telas pequenas */
  }
}

.conteudo h1 {
  margin-bottom: 18px;
}

video {
  border-radius: 5px;
  width: 80%; /* Aumenta a largura do vídeo */
  max-width: 800px; /* Define uma largura máxima maior para o vídeo */
  background-color: transparent; /* Garante que não haja fundo no vídeo */
}
