/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.flex-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 500px;
    height: 350px;
    background-image: url(../assets/desktop.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
/* Desktop Styles */
@media (min-width: 1024px) {
    body {
        background-color: rgb(117, 194, 140), 244, 244;
    }
    .container {
        background-image: url(../assets/desktop.png);
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        background-color: #7db2e7;
    }
    .container {
        background-image: url(../assets/tablet1.png);
    }
}

/* Mobile Styles */
@media (max-width: 767px){
    body {
        background-color: #f7a2a2;
    }
    .container {
        background-image: url(../assets/phone1.png);
    }
}
