@import url('https://fonts.googleapis.com/css?family=Acme|Berkshire+Swash|Bevan|Cinzel|Domine&display=swap');

body {
    position: relative;
    height: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: #D3CFC7;

}

.modal-content {
    background-color: white;
    font-size: 10pt;
    overflow: hidden;
    padding: 15px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-content p {
    margin-bottom: 10px;
}

.modal-content p.dir {
    font-size: 7pt;
    text-align: center;
    margin-bottom: 2px;
}

h1 {
    font-weight: 800;
    line-height: 1.2;
    font-size: 2em;
}

h2 {
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.2;
}

.creditos {
    background-color: #1ea359;
    font-weight: 800;
    font-size: 16px;
    color: white;
    border-radius: 15px 15px 0 0;
    bottom: 0;
    right: 25px;
    position: absolute;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0px 13px;
    border: none;
    z-index: 9;
}

.creditos:hover {
    color: white;
}
/********************************************/

section{
    margin:auto;
    width: 50%;
    text-align: center;
    position: relative;
}

header{
    margin: 0 auto;
    font-family: 'Berkshire Swash', cursive;
    width: 51%;
    color: beige;
    padding: 1%;
    text-align: center;
    background: #5d9ca0;
    border-radius: 0 0 25px 25px;
    font-size: 2.5em;
    margin-bottom: 2%;
    box-shadow: 0 0 0.3em #7a7a7a;
}

section p {
 text-align: left;
}

header p{
    font-size: 1.5em;
    color: #335b5f;
}


  
  .img-drag img {
    max-height: 100%;
    max-width: 100%;
    border: 8px solid #5e9da0;
    margin: 10px auto;
    background: #5e9da0;
    box-shadow: 0 0 0.3em #7a7a7a;
}

  .ui-draggable-dragging{
    z-index: 200;
  }

.imagem-texto{
    height: 215px;
    border: 5px dashed beige;
    text-align: center;
    margin-bottom: 0px;
    padding: 5px;
    background: #b1b1b1;
  }
  
  .texto .imagem-texto img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid #ccc;
  }

  .moldura, .obra {
    width: 28%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 3% 2% 0% 2%;
}

  .hidden{
      display: none;
  }

  .credito {
    position: relative;
}

.credito:after {
    font-size: 7pt;
    position: absolute;
    transform: rotate(-90deg) translateX(0%);
    transform-origin: 100% 100%;
    top: -22px;
    right: -2px;
    color: #333;
    padding: 2px 4px;
}

.legenda{
    font-size: 0.8em;
    text-align: left;
    background-color: #5e9da0;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
}

.numeros{
    border-radius: 100%;
    width: 51px;
    padding: 15px;
    text-align: center;
    margin: 25% auto;
    background: cadetblue;
    font-weight: bold;
    color: #325b5e;
}

.obras {
    border: 5px dashed beige;
    text-align: center;
    margin-top: 5%;
    padding: 5px;
    background: #dcdad5;
}

@media only screen and (max-width: 853px){
    header {
        margin: 0 auto;
        font-family: 'Berkshire Swash', cursive;
        width: 90%;
        color: beige;
        padding: 1%;
        text-align: center;
        background: #5d9ca0;
        border-radius: 0 0 25px 25px;
        font-size: 2.5em;
        margin-bottom: 2%;
        box-shadow: 0 0 0.3em #7a7a7a;
    }

    section {
        margin: auto;
        width: 90%;
        text-align: center;
        position: relative;
    }

}
@media only screen and (max-width: 480px){
    header p {
        font-size: 0.8em;
        color: #335b5f;
    }

    .moldura, .obra {
        width: 90%;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 3% 2% 0% 2%;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 75%;
        font-weight: 400;
    }

    section p {
        text-align: left;
        margin: 10% auto;
    }

}