.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    background:#fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
    padding:10px;
}



/* vertical arrows */
.jcarousel-wrapper.jcarousel-vertical {
    float: left;
}
.jcarousel-wrapper.jcarousel-vertical .jcarousel-control-prev {
    /*border:2px solid blue;
    left:0 !important;
    margin-top:-100px;
    width:90px;
    height:40px;*/

    /*top:-100px !important;*/
}
.jcarousel-wrapper.jcarousel-vertical .jcarousel {
    /*height:200px;*/
}
.jcarousel-wrapper.jcarousel-vertical .jcarousel-control-next {
/*    border:2px solid blue;
    right:0 !important;
    left:0 !important;
    width:90px;
    height:40px;*/

    /*top:300px !important;*/
}
.jcarousel-wrapper.jcarousel-vertical .jcarousel-control-prev,
.jcarousel-wrapper.jcarousel-vertical .jcarousel-control-next {
    display: block;
    position: absolute;
    left: 2px;
    z-index: 99999;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* vertical arrows */



/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    height: 100px;
}
.jcarousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    float: left;
}
.jcarousel li img {
    display:block;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 30px;
    width: 60px;
    height: 60px;
    /*text-align: center;*/
    background: #fff;
    padding:0;
    margin:0;
    /*color: #111;*/
    text-decoration: none;
	/*
    font:47px Helvetica, Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
	*/

	/* desloca seta em forma de texto para que nao fique visivel */
	text-indent:-9999px;
}

/* seta voltar */
.jcarousel-control-prev {
    left: -70px;
	background:url('prev_arrow.png') no-repeat center center;
}
/* seta voltar hover */
.jcarousel-control-prev:hover {
    left: -70px;
	background:url('prev_arrow_hover.png') no-repeat center center;
}
/* seta proximo */
.jcarousel-control-next {
    right: -70px;
	background:url('next_arrow.png') no-repeat center center;
}
/* seta proximo hover */
.jcarousel-control-next:hover {
	background:url('next_arrow_hover.png') no-repeat center center;
}


.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .4;
    cursor: default;
}


/* ===== VERTICAL ===== */

.jcarousel-skin-default .jcarousel-vertical,
.jcarousel-skin-default .ver-ti-cal {
    position: relative;
    overflow: hidden;
    width: 75px;
    height: 265px;
    border: 1px solid #000;
}

.jcarousel-skin-default .jcarousel-vertical ul,
.jcarousel-skin-default .ver-ti-cal ul {
    width: 100%;
    height: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-skin-default .jcarousel-vertical li,
.jcarousel-skin-default .ver-ti-cal li {
    height: 75px;
    margin: 0 0 10px 0;
    padding: 0;
}

/** Custom **/

.jcarousel-skin-default li img {
    border: 0;
    display: block;
}