.level-box {
	z-index: 999999999;
	position: absolute;
	top: 0;
	left: 0;
	width: 450px;
	height: 480px;
	color: #531906;
	font-family: Tahoma, Arial, Sans-serif;
}

.level-box-overlay {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 999;
}


.level-box .lbtop {
	position: relative;
}
.level-box .lbtop .left {
	background: url('../img/level-box/topo_esquerdo.png') no-repeat top left;
	width: 27px;
	height: 89px;
	position: absolute;
	top: 0;
	left: 0;
}
.level-box .lbtop .title {
	background:url('../img/level-box/topo-repet.png');
	margin:0 16px 0 16px;
	height: 89px;
}
.level-box .lbtop .title h1 {
	padding: 0;
	margin: 0;
	padding: 27px;
	color: #531906;
	font-family: Tahoma, Arial, Sans-serif;
	font-weight: normal;
}
.level-box .lbtop .title ul {
	padding: 20px 0 20px 0;
	list-style-type: none;
}
.level-box .lbtop .title ul li {
	display: inline-block;
	font-size: 50px;
	color: #fff;
	margin: 20px 0 0 0;
	padding: 0;
	line-height: 10px;
	opacity: .8;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.level-box .lbtop .right {
	background: url('../img/level-box/topo_direito.png') no-repeat top right;
	width: 28px;
	height: 89px;
	position: absolute;
	top: 0;
	right: 0;
}





.level-box .lbcontent {
	background: #FFFFFF /*url('../img/level-box/sombra-repet.png') repeat-x bottom left*/;
	padding: 30px;
}
.level-box .lbcontent p {
	padding:0;
	margin:0;
	text-align: center;
	font-size: 50px;
	font-family: Tahoma, Arial, Sans-serif;
	color: #333;
}

.level-box .lbcontent p.total_time {
	font-size: 36px;
	text-align: left;
	padding-left: 35px;
}

/* points */
.level-box .lbcontent p.total_points {
	margin-top: 20px;
}
.level-box .lbcontent p.total_points span.small {
	display: block;
	font-size: 22px;
}
@-moz-document url-prefix() {
	.level-box .lbcontent p.total_points span.small {
		margin-top:20px;
	}
}

.level-box .lbcontent p.total_stars {
	margin-top: 20px;
	margin-bottom: 20px;
}
.level-box .lbcontent p.total_stars img {
	margin-right: 8px;
}

/* feedback */
.level-box .lbcontent p.feedback_image {
	width: 40%;
	display: inline-block;
}
.level-box .lbcontent p.feedback_content {
	font-size: 14px;
	letter-spacing: 0;
	color: #521906;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 10px;
}

/* congratulations */
.level-box .lbcontent p.congrat_stars {
	margin-bottom: 30px;
	color:#4a1300;
}
.level-box .lbcontent p.congrat_stars img {
	margin-right: 5px;
}
.level-box .lbcontent p.congrat_stars span.small {
	font-size: 26px;
	margin-left: 20px;
}
.level-box .lbcontent p.congrat_title {
	font-size: 32px;
	margin-bottom: 10px;
	color:#4a1300;
}
.level-box .lbcontent p.congrat_content {
	font-size: 14px;
	margin-bottom: 20px;
	color:#4a1300;
}

/* morreu */
.level-box .lbcontent div.died p.message {
	color:#000;
	font-size:22px;
}
.level-box .lbcontent div.died p.total_time {
	padding-left: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.level-box .lbcontent div.died p.total_points {
	margin-top:0;
}
.level-box .lbcontent div.died p.total_points span#points_num {
	line-height: 0;
}


.level-box .lbfooter {
	position: relative;
}
.level-box .lbfooter .left {
	background: url('../img/level-box/rodape_esquerdo.png') no-repeat bottom left;
	width: 22px;
	height: 52px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.level-box .lbfooter .center {
	background:url('../img/level-box/rodape-repet.png');
	margin:0 20px 0 20px;
	height: 52px;
}
.level-box .lbfooter .center p {
	padding: 7px 0 0 0;
	margin: 0;
	text-align: right;
}
.level-box .lbfooter .center a {
	margin-right: 10px;
}
.level-box .lbfooter .right {
	width: 24px;
	height: 52px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url('../img/level-box/rodape_direito.fw.png') no-repeat bottom right;
}



#bonus_num {
}
#points_num {
}

#one_num {
	position: absolute;
	display: none;
	font-size: 36px;
	-moz-opacity:.80;
	-ms-filter:"alpha(opacity=80)";
	filter:alpha(opacity=80);
	opacity:.80;
}

