body {
	margin: 0;
}

@font-face {
	font-family: 'Ranchers';
	font-style: normal;
	font-weight: 400;
	src: local('Ranchers'), local('Ranchers-Regular'),
		url(../fonts/Ranchers.woff) format('woff');
}

@font-face {
	font-family: 'Voltaire';
	font-style: normal;
	font-weight: 400;
	src: local('Voltaire'), local('Voltaire'), url(../fonts/Voltaire.woff)
		format('woff');
}

.container {
	padding: 0 10px 0 10px;
	margin: 0 auto;
	height: 490px;
	max-height: 490px;
	overflow-x: auto;
	overflow-y: auto;
	white-space: nowrap;
	display: table;
}

.top {
	width: 100%;
	height: 150px;
	position: relative;
	display: block;
}

.topContent {
	display: table;
	position: relative;
	margin: 0 auto;
}

.btClose {
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 9999;
	cursor: pointer;
	background: url('../img/main-menu/close_1.png') no-repeat center center;
}

.totalScore {
	width: 140px;
	height: 80px;
	display: block;
	position: relative;
	padding: 0 20px 0 20px;
	background: url('../img/main-menu/transparent3.png');
	float: left;
	border-radius: 0 0 25px 25px;
	box-shadow: 2px 2px 20px #333333;
	-webkit-box-shadow: 2px 2px 20px #333333;
	-moz-box-shadow: 2px 2px 20px #333333;
}

.totalScore span {
	display: block;
	float: left;
	margin: 20px 0 0 0;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 16px;
	font-weight: 100;
	word-spacing: 2px;
	letter-spacing: normal;
	line-height: 20px;
}

.totalScore strong {
	display: block;
	float: left;
	margin: 20px 0 0 0;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 40px;
	font-weight: 800;
	word-spacing: 2px;
	letter-spacing: normal;
	line-height: 35px;
}

.totalStar {
	width: 180px;
	height: 80px;
	display: block;
	position: relative;
	padding: 10px 20px 0 20px;
	float: left;
}

.totalStar img {
	float: left
}

.totalStar span {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 35px;
	font-weight: 800;
	word-spacing: 2px;
	line-height: 35px;
	color: #FFFFFF;
	margin: 10px 0 0 0;
	float: left;
}

.infoAll {
	display: block;
	margin: 25px 10px 0 25px;
}

.content1 {
	max-width: 290px;
	height: 377px;
	position: relative;
	background: #CCC;
	margin: 45px 10px 10px 10px;
	padding: 0 20px 20px 0;
	border-radius: 25px 0 25px 25px;
	position: relative;
}

.content1 .levelWrapper {
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	width: 310px;
	height: 310px;
}

.content1>.title,.content2>.title {
	position: relative;
	display: block;
}

.content1>.title>span,.content2>.title>span {
	display: block;
	margin: 20px;
	font-family: 'Trebuchet MS', Arial, Helvetica;
	font-size: 16px;
	color: white;
	word-wrap: break-word !important;
	overflow: hidden;
}

.content1 .levelContainer,.content4 .levelContainer {
	width: 125px;
	height: 145px;
	position: relative;
	margin: 0 0 20px 20px;
	border-radius: 0 25px 0 25px;
	float: left;
	display: block;
}

.content1>.lockedObject,.content2>.lockedObject,.content4>.lockedObject
	{
	border-radius: 0 0 0 25px
}

.content1>.lockedObject>.innerLockedObject,.content2>.lockedObject>.innerLockedObject,.content4>.lockedObject>.innerLockedObject
	{
	width: 30px;
	height: 15px;
	display: block;
	position: absolute;
	top: -15px;
	right: 0px;
	border-radius: 25px 25px 0 0;
}

.content1>.lockedObject>.innerLockedObject>img,.content2>.lockedObject>.innerLockedObject>img,.content4>.lockedObject>.innerLockedObject>img
	{
	display: block;
	position: absolute;
	top: 4px;
}

.content1 .text,.content2 .text,.content4 .text {
	width: 100%;
	min-height: 30px;
	height: auto;
	display: block;
	position: absolute;
	bottom: 0px;
	border-radius: 0 0 0 25px;
	background: url('../img/main-menu/transparent1.png');
}

.content1 .text>strong,.content2 .text>strong,.content4 .text>strong {
	display: block;
	margin: 5px 0 10px 15px;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 16px;
	font-weight: 100;
	word-spacing: 2px;
	letter-spacing: normal;
	line-height: 15px;
}

.content2 {
	max-width: 125px;
	height: auto;
	min-height: 235px;
	position: relative;
	display: inline-block;
	margin: 45px 10px 10px 10px;
	padding: 0 20px 20px 0;
	border-radius: 25px 0 25px 25px;
}

.content2>span {
	width: 105px;
	height: 145px;
	position: relative;
	display: inline-block;
	margin: 20px 0 0 20px;
	border-radius: 0 25px 0 25px;
}

.content3 {
	width: 145px;
	height: auto;
	min-height: 255px;
	position: relative;
	display: inline-block;
	margin: 20px 10px 10px 10px;
	padding: 0 0 20px 0;
	border-radius: 25px;
}

.content3 .title {
	width: 100%;
	height: 40px;
	display: block;
	position: relative;
	background: url('../img/main-menu/transparent1.png');
	margin: 40px 0 0 0;
}

.content3 .title img {
	display: block;
	position: absolute;
	left: 5px;
}

.content3 .title h1 {
	display: block;
	padding: 8px 0 0 60px;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 18px;
}

.content3 strong {
	display: block;
	position: relative;
	margin: 40px 0 20px 0;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica;
	font-weight: 100;
	word-spacing: 2px;
	letter-spacing: normal;
	color: #333333;
	font-size: 18px;
}

.content3 img {
	display: block;
	position: relative;
	margin: 0 auto;
}

.content4 {
	max-width: 290px;
	height: auto;
	min-height: 235px;
	position: relative;
	display: inline-block;
	margin: 20px 10px 10px 10px;
	padding: 0 20px 20px 0;
	border-radius: 25px;
}

.content4>.title {
	width: 310px;
	height: 70px;
	position: relative;
	display: block;
	background: url('../img/main-menu/transparent2.png') repeat-x bottom
		left;
}

.content4>.title>span {
	display: block;
	margin: 20px 0 0 80px;
	padding: 15px 0 0 0;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 16px;
}

.content4 .bonus {
	display: block;
	position: absolute;
	left: 20px;
}

.info {
	width: 50px;
	height: 25px;
	display: block;
	position: absolute;
	top: -23px;
	right: 0px;
	border-radius: 25px 25px 0 0;
}

.shadow1 {
	width: 100%;
	height: 30px;
	display: block;
	position: absolute;
	bottom: -30px;
}

.shadow1 img {
	width: 100%;
	height: 30px;
	display: block;
}

.info .icon {
	width: 40px;
	height: 40px;
	display: block;
	position: relative;
	margin: 5px 0 0 5px;
	background: url('../img/main-menu/icon_info.png') no-repeat center
		center;
	cursor: pointer;
}

.openInfo {
	width: 300px;
	max-width: 300px;
	position: absolute;
	top: 40px;
	right: -21px;
	background: #F5F5F5;
	z-index: 997;
	border-radius: 25px;
	box-shadow: 2px 2px 20px #000000;
	-webkit-box-shadow: 2px 2px 20px #000000;
	-moz-box-shadow: 2px 2px 20px #000000;
	white-space: normal;
}

.openInfo h1,.openInfo h2,.openInfo h3,.openInfo strong {
	font-family: Tahoma, Arial, Helvetica;
	font-weight: normal;
	color: #333333;
}

.openInfo h1 {
	display: block;
	margin: 20px;
	font-size: 22px;
	line-height: 30px;
}

.openInfo strong {
	display: block;
	margin: 20px;
	font-size: 14px;
	line-height: 20px;
}

.triangle {
	display: block;
	position: absolute;
	top: -26px;
	right: 26px;
	border-color: transparent transparent #F5F5F5 transparent;
	border-width: 15px;
	border-style: solid;
}

.levelContainer {
	cursor: pointer
}

.number {
	font-family: 'Ranchers', Tahoma, Arial, Helvetica;
	font-size: 30px;
	width: 100%;
	display: block;
	padding: 10px;
}

.content_star {
	display: table;
	margin: 0 auto;
}

.star1,.star2 {
	width: 30px;
	height: 30px;
	position: relative;
	display: block;
	float: left;
	margin: -15px 0 0 0;
	background: url('../img/main-menu/star.png') no-repeat;
}

.star1 {
	background-position: 0 0
}

.star2 {
	background-position: -30px 0
}

.score {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 5px 0 0 0;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica;
	font-weight: 100;
	word-spacing: 2px;
	letter-spacing: normal;
	font-size: 14px;
}

@media ( max-width : 680px) {
	.container {
		width: 340px
	}
	.totalScore {
		width: 50px
	}
	.totalScore span {
		display: none
	}
	.totalStar {
		width: 150px
	}
	.totalStar img {
		width: 40px;
		margin: 5px 0 0 0;
	}
}

@media ( max-width : 340px) {
	.container {
		width: 180px
	}
	.content2 {
		max-width: 145px
	}
	.content2>span {
		width: 125px
	}
	.content3 {
		width: 165px
	}
	.content4 {
		width: 145px
	}
	.content4>.title {
		width: 165px
	}
	.content4>.title>span {
		padding: 0
	}
	.openInfo {
		width: 190px;
		left: -125px;
	}
	.totalStar {
		width: 50px
	}
	.totalStar span {
		font-size: 20px
	}
	.totalStar img {
		width: 30px;
		margin: 0 0 0 20px;
	}
}

@media ( max-width : 280px) {
	.totalStar {
		display: none
	}
	.topContent {
		margin: 0 0 0 10px
	}
	.infoAll {
		position: absolute;
		margin: 0;
		top: 10px;
		right: -40px;
	}
}

.groupContainer,.levelContainer,.innerLockedObject,.levelContainer .text,img.bonus
	{
	display: none
}

.logotipo {
	width: 260px;
	height: 80px;
	display: table;
	position: relative;
	float: left;
}

.totalScore span,.totalScore strong,.totalStar span {
	color: #191F06
}

@media ( max-width : 680px) {
	.logotipo {
		width: 20px
	}
}

@media ( max-width : 340px) {
	.logotipo {
		display: none
	}
}

.content1,.content2,.content3,.content4,.info {
	background: #4B9BCC
}

.levelContainer {
	background: #2F76A2;
}

.content1 .text>strong,.content2 .text>strong,.content4 .text>strong {
	color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
	filter: alpha(opacity = 8);
}

.title,.content3 strong,.score,.number {
	color: #FFFFFF
}

.btn-info {
	cursor: pointer;
	right: 20px;
	bottom: 20px;
	position: fixed;
	z-index: 50px;
	width: 48px;
	height: 38px;
	border-radius: 5px;
	background-color: #3d520d;
	border: 4px solid #2d3f04;
	text-align: center;
	font: 30px verdana;
	color: white;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .15);
	-moz-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .15);
	box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .15);
}

/* tela de carregamento */
.loading {
	font-family: 'Trebuchet MS', Arial, Helvetica;
	font-size: 18px;
	color: #000;
	text-align: center;
	padding: 30px;
	background: #fff;
	width: 300px;
	margin: 0 auto;
	margin-top: 150px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4);
}

.loading p {
	margin: 0;
	padding: 0;
}

.loading p.erro {
	color: red;
	font-weight: bold;
}

.loading p.aviso {
	font-weight: bold
}

/* inicio introducao do jogo */
.game_intro {
	background: #fff;
	border: 5px solid #36a4e9;
	width: 50%;
	margin: 0 auto;
	position: relative;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	font-size: 13px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.game_intro p {
	text-align: center;
	margin: 0;
	padding: 20px;
}

.game_intro a {
	cursor: pointer;
	position: absolute;
	right: 9px;
	top: 9px;
	display: block;
	width: 40px;
	height: 40px;
	background: url('../img/bt_voz.png') no-repeat center center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-indent: -99999px;
}

.game_intro a:hover {
	
}
/* fim introducao do jogo */
.more-levels-available {
	position: absolute;
	width: 100%;
	bottom: 10px;
	left: 0;
	color: white;
	background: url('../img/arrow-down-white.png') no-repeat center center;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity = 30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

/* Tiny Scrollbar */
.actualMenu {
	display: block;
}

.actualMenu .viewport {
	height: 452px;
	overflow: hidden;
	position: relative;
}

.actualMenu .overview {
	display: table;
	margin: 0 auto;
	position: relative;
}

.actualMenu .overview img {
	float: left;
}

.actualMenu .scrollbar {
	background: transparent
		url(../js/tinyscrollbar/img/bg-scrollbar-track-x.png) no-repeat 0 0;
	position: relative;
	margin: 0 0 5px;
	clear: both;
	height: 15px;
}

.actualMenu .track {
	background: transparent
		url(../js/tinyscrollbar/img/bg-scrollbar-trackend-x.png) no-repeat
		100% 0;
	width: 100%;
	height: 15px;
	position: relative;
}

.actualMenu .thumb {
	background: transparent
		url(../js/tinyscrollbar/img/bg-scrollbar-thumb-x.png) no-repeat 100%
		50%;
	height: 25px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: -5px;
}

.actualMenu .thumb .end {
	background: transparent
		url(../js/tinyscrollbar/img/bg-scrollbar-thumb-x.png) no-repeat 0 50%;
	overflow: hidden;
	height: 25px;
	width: 5px;
}

.actualMenu .disable {
	display: none;
}




/* Padronização 800x600 */
@media only screen and (min-device-height :590px) and (max-device-height
	:610px) and (min-device-width :790px) and (max-device-width :810px) and
	(orientation : landscape) {
	.level2 #C0_-1 {
		left: 90px;
		top: -15px;
	}
	.level4 #C0_-1 {
		left: 39px;
		top: -17px;
	}
	.level3 #C0_-1 {
		left: 62px;
		top: -15px;
	}
	.level5 #C0_-1 {
		left: 55px;
		top: -22px;
	}
	#C1_-1 {
		left: 41px;
		top: 177px;
		width: 652px;
	}
	.game_area_all {
		height: 529px;
		margin: 0 auto;
		width: 900px;
	}

	/* .level2 #C0_-1 {
		background-image: url("../img/crossword/simbol1.gif");
		height: 54px;
		left: 9px;
		position: relative;
		top: 169px;
		width: 382px;
	}
	
	#C1_-1 {
		background-image: url("../img/crossword/codigo.png");
		height: 110px;
		position: relative;
		top: 264px;
		width: 652px;
		transform: scale(0.8); 
	} */
	#gridArea {
		display: inline-block;
		margin-top: -33px;
		margin-left: -99px;
		padding-bottom: 100px;
		transform: scale(0.7);
	}
	#gridAreaWrapper {
		display: block;
		margin: 14px auto;
		overflow: auto;
	}
	.externalHint {
		left: 54px;
		margin-top: -31px;
		position: relative;
		margin-top: -31px;
	}
	#div_area_memory {
		transform: scale(0.8);
		margin-top: -57px;
		margin-left: -168px;
	}
	.actualMenu .viewport {
		margin-left: -53px;
		height: 399px;
	}
	.actualMenu {
		display: table-row-group;
	}
	.container {
		height: 380px;
		max-height: 380px;
		transform: scale(0.8);
	}
	.content1 {
		margin: 27px 10px 10px;
		max-width: 260px;
	}
	.game_intro p {
		padding: 10px;
	}
	.game_intro {
		width: 59%;
		margin: 7px auto -35px;
	}
	.game_intro a {
		top: -2px;
	}
	.content1 .levelContainer,.content4 .levelContainer {
		height: 120px;
		width: 110px;
	}
	.number {
		padding: 5px 10px;
	}
	.content1>.title>span,.content2>.title>span {
		margin: 10px 20px;
	}
	.content1 .levelWrapper {
		height: 260px;
		width: 280px;
	}
	.content1 {
		height: 305px;
	}
	.deck {	
    	margin-left: 100px;
	}
}

/* 1024 x 768 */
@media only screen and (min-device-height :758px) and (max-device-height
	:778px) and (min-device-width :1014px) and (max-device-width :1034px)
	and (orientation : landscape) {
	.content1 {
		margin: 45px 7px 10px;
	}
	#gridArea {
		margin-left: 62px;
	}
	.level2 #C0_-1 {
		left: 475px;
	}
	.level3 #C0_-1 {
		left: 475px;
	}
	.level4 #C0_-1 {
		left: 475px;
	}
	.level5 #C0_-1 {
		left: 475px;
	}
	.deck {	
    	margin-left: 100px;
	}
}

/* 1280 x 600 */
@media only screen and (min-device-height :590px) and (max-device-height
	:610px) and (min-device-width :1270px) and (max-device-width :1290px)
	and (orientation : landscape) {
	#div_area_memory {
		transform: scale(0.8);
		margin-top: -57px;
	}
	.actualMenu .viewport {
		margin-left: 192px;
		height: 399px;
	}
	.actualMenu {
		display: table-row-group;
	}
	.container {
		height: 380px;
		max-height: 380px;
		transform: scale(0.8);
	}
	.content1 {
		margin: 27px 10px 10px;
		max-width: 260px;
	}
	.game_intro p {
		padding: 10px;
	}
	.game_intro {
		width: 59%;
		margin: 7px auto -35px;
	}
	.game_intro a {
		top: -2px;
	}
	.content1 .levelContainer,.content4 .levelContainer {
		height: 120px;
		width: 110px;
	}
	.number {
		padding: 5px 10px;
	}
	.content1>.title>span,.content2>.title>span {
		margin: 10px 20px;
	}
	.content1 .levelWrapper {
		height: 260px;
		width: 280px;
	}
	.content1 {
		height: 305px;
	}
	.deck {	
    	margin-left: 100px;
	}
	
}


/* 1280 x 800 */
@media only screen and (min-device-height :790px) and (max-device-height
	:810px) and (min-device-width :1270px) and (max-device-width :1290px) and (orientation : landscape) {
	.externalHint {
		left: 54px;
		position: relative;
		
	}
	
	#div_area_memory {
		transform: scale(0.8);
		-ms-transform: scale(0.8); /* IE 9 */
        -webkit-transform: scale(0.8); /* Chrome, Safari, Opera */
		margin-top: -57px;
	}
	.actualMenu .viewport {
		margin-left: 192px;
		height: 399px;
	}
	.actualMenu {
		display: table-row-group;
	}
	.container {
		height: 380px;
		max-height: 380px;
		transform: scale(0.8);
		-ms-transform: scale(0.8); /* IE 9 */
        -webkit-transform: scale(0.8); /* Chrome, Safari, Opera */
	}
	.content1 {
		margin: 70px 10px 10px;
		max-width: 260px;
	}
	.game_intro p {
		padding: 10px;
	}
	.game_intro {
		width: 59%;
		margin: 7px auto -35px;
	}
	.game_intro a {
		top: -2px;
	}
	.content1 .levelContainer,.content4 .levelContainer {
		height: 120px;
		width: 110px;
	}
	.number {
		padding: 5px 10px;
	}
	.content1>.title>span,.content2>.title>span {
		margin: 10px 20px;
	}
	.content1 .levelWrapper {
		height: 260px;
		width: 280px;
	}
	.content1 {
		height: 305px;
	}
	
	.level2 #C0_-1 {
		left: 300px;
	}
	.level3 #C0_-1 {
		left: 300px;
	}
	.level4 #C0_-1 {
		left: 300px;
	}
	.level5 #C0_-1 {
		left: 300px;
	}
	.deck {
	
    margin-left: 49px;
}
}

/*Tablet Positivo Mini 1024*720 Horizontal*/
@media only screen and (min-device-height :710px) and (max-device-height
	:730px) and (min-device-width :1014px) and (max-device-width :1034px) and (orientation : landscape) {
	.externalHint {
		left: 54px;
		position: relative;
		
	}
	.content1 {
		margin: 70px 10px 10px;
		max-width: 260px;
	}
	.game_intro p {
		padding: 10px;
	}
	.game_intro {
		width: 59%;
		margin: 7px auto -35px;
	}
	.game_intro a {
		top: -2px;
	}
	.content1 .levelContainer,.content4 .levelContainer {
		height: 120px;
		width: 110px;
	}
	.number {
		padding: 5px 10px;
	}
	.content1>.title>span,.content2>.title>span {
		margin: 10px 20px;
	}
	.content1 .levelWrapper {
		height: 260px;
		width: 280px;
	}
	.content1 {
		height: 305px;
	}
	
	.level2 #C0_-1 {
		left: 300px;
	}
	.level3 #C0_-1 {
		left: 300px;
	}
	.level4 #C0_-1 {
		left: 300px;
	}
	.level5 #C0_-1 {
		left: 300px;
	}
	
	.deck {
	
    margin-left: 49px;
}