@charset "utf-8";
/* CSS Document  - LAYOUT COMBINAR PALAVRAS PARA DESKTOP */

body {
	background-image:url(../img/tela/fundo.png);
	background-repeat:repeat;
   	margin:0;
	padding:0;

}

#mega-div {
    margin-left: auto;
    margin-right: auto;
    width: 847px;
}
.top{
	background-image:url(../img/tela/topo.png);
	background-repeat: repeat;
	height:103px;
	margin:0;
	padding:0;
}

.barra_principal{
	background-image: url("../img/tela/tempo_ponto.png");
    /*height: 90px;*/
	margin-top:-20px;
	height: 82px;
    left: 49%;
    position: absolute;
    top: 20%;
    width: 576px;
    background-repeat: no-repeat;
}
/*.barra_principal2{
	background-image: url("../img/tela/caixa_topo_inicio.png");
	background-position:right;
    height: 99px;
    left: 49%;
    position: absolute;
    top: 5%;
    width: 576px;
    background-repeat: no-repeat;
}*/

.points_time {
    float: left;
    height: 56px;
    margin: 10px 0 0 10px;
    max-width: 258px;
    width: 100%;
}

/* Area do Jogo */

.game_area_all {
    height: 529px;
    margin: 0 auto;
    /* width: 1100px; */
}



.frame_div, .frame_div2 {
    background-image: url("../img/tela/caixa_quebra_cabeca.png");
    background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat:no-repeat;
    height: 394px;
    /*margin: 49px 0px 0px -7px;*/
    position: relative;
    text-align: center;
    width: 504px;
}

.frame_div3 {
    background-image: url("../img/tela/caixa1.png");
    background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat:no-repeat;
    height: 394px;
    /*margin: 49px 0px 0px 208px;*/
    position: relative;
    text-align: center;
    width: 289px;
    float:right;
}

.frame_div4 {
    background-image: url("../img/tela/caixa2.png");
    background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat:no-repeat;
    height: 399px;
    margin: 49px 0px 0px 208px;
    position: relative;
    text-align: center;
    width: 281px;
}

.frame_div5 {
    background-image: url("../img/tela/caixa_quebra_cabeca.png");
    background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat:no-repeat;
    height: 394px;
    margin: 49px 0px 0px -7px;
    position: relative;
    text-align: center;
    width: 532px;
}


.frame_div .trans_img {
	height: 230px;
	margin-top:15px;
}

/* REMOVER DIV */

.pícture_div {
    background-image: url("../img/tela/img_n1.png");
    /*float: left; */
    height: 399px;
    margin-left: 16px;
    margin-top: -413px;
    width: 441px;
}
.pícture_div2 {
    background-image: url("../img/tela/img_n2.png");
    /*float: left;*/
    height: 399px;
    margin-left: 16px;
    margin-top: -413px;
    width: 546px;
	position: relative;
}
/* REMOVER DIV */


.bt_img {
    background-image: url("../img/tela/bt_img.png");
    float: right;
    height: 42px;
    margin: 5px -68px 0 0;
    width: 42px;
}

.bt_img:hover {
	background-image: url("../img/tela/bt_img_over.png");
}
.tuto_content {
	height: 36px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 482px;
}

.tuto_bar {
    background-image: url("../img/tela/tuto_bar.png");
    background-repeat: no-repeat;
    float: left;
    width: 644px;
    /*margin:0 auto 21px;*/
    margin-top: 5px;
}

.t_text {
    color: #FFFFFF;
    font-family: Trebuchet MS;
    font-size: 13px;
    font-weight: bold;
    line-height: 102%;
    text-align: center;
    text-transform: uppercase;
    padding: 0 4px ;
}

.t_text div {
	padding : 19px;
	display:table-cell;
	vertical-align: top;
	text-align:center;
	height:30px;
	width:530px;
	float: left;
	line-height: 130%;
	letter-spacing: 1px;
}
.bt_voice, .bt_voice_press {
    background-image: url("../img/tela/bt_voz.png");
	background-repeat:no-repeat;
	margin-top: -5px;
    float: left;
    height: 49px;
    width: 51px;
	cursor:pointer;
}
.bt_voice:hover {
	background-image:url(../img/tela/bt_voz_over.png);
}

.bt_voice_press{
	background-image:url(../img/tela/bt_voz_press.png);
}


.bt_left {
    background: url("../img/tela/bt_seta_esq.png") no-repeat center center;
    cursor: pointer;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}
.bt_left:hover {
	background:url(../img/tela/bt_seta_esq_over.png) no-repeat center center;
}

.pieces_div {
    background-image: url("../img/tela/caixa_pecas.png");
    background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 364px;
    margin:0 auto;
    width: 200px;
}

.bt_right {
    background: url("../img/tela/bt_seta_dir.png") no-repeat center center;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 60px;
    cursor: pointer;
}
.bt_right:hover {
	background:url(../img/tela/bt_seta_dir_over.png) no-repeat center center;
}

#container_menu{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

#div_area_puzzle #draggableItems {
	width:240px;
}

.pecasDrag{
	float:left;
	cursor: pointer;
}

.pecadrop{
	position: absolute;
}

/* Tela de Transição */

.puzzleFeedbackText {
    color: white;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 16px;
    line-height: 130%;
    margin: 0 auto;
    padding: 9px 0 0;
    text-align: center;
    max-width: 600px;
}
.puzzleFeedbackButton, .puzzleFeedbackButtonPress {
	background-image:url(../img/trans_screen/bt_continuar.png);
	background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat:no-repeat;
	height: 33px;
    margin: 20px auto 10px;
    width: 100px;
	cursor: pointer;
    text-indent: -99999px !important;
}
.puzzleFeedbackButton:hover {
	background-image:url(../img/trans_screen/bt_continuar_over.png);
}
.puzzleFeedbackButtonPress {
	background-image:url(../img/trans_screen/bt_continuar_press.png);
}

.selectedElement {
	opacity: 0.6;
}




/* ===== MIGRANDO ===== */

.game_area_all #div_area_puzzle {
    margin-top:60px;
}

.game_area_all #div_area_puzzle .left_side {
    width:485px;
    display:inline-block;
    vertical-align:top;
}
.game_area_all #div_area_puzzle .left_size #droppableItems {
    margin:0;
}

.game_area_all #div_area_puzzle .right_side {
    width:320px;
    display:inline-block;
    vertical-align:top;
    /*float:right;*/
    /* margem negativa para descontar seta de cima */
    margin-top:-35px;
}

.game_area_all #div_area_puzzle #puzzle-feedback {
    text-align: center;
}