@charset "utf-8";

.game_area_all {
	height: 530px;
    margin: -1px auto 0;
   /*  max-width: 1100px;
    min-width: 922px; */
	/*position:absolute;*/
	display: none;
}

.game_area, .game_area1, .game_area2, .game_area3, .game_area4, .game_area5, .game_area6, .game_area7, .game_area8, .game_area9 {
 	background-image: url("../img/fases/n1f1.png");
	background-repeat: no-repeat;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    width: 824px;
	position:relative;
}

#secondary-audio {
	border: 1px solid red;
	width: 50px;
	height:50px;
	display:none;
	cursor: pointer;
	margin-left: 100px;
}

.game_area1 {
	height:345px;
}

.game_area2{
	background-image: url("../img/fases/n1f2.png");
	height:345px;
}

.game_area3{
	background-image: url("../img/fases/n1f3.png");
	height:345px;
}

.game_area4{
	background-image: url("../img/fases/n1f4.png");
	height:345px;
}

.game_area5{
	background-image: url("../img/fases/n2f1.png");
	width: 963px;
}

/* nivel 2 etapa 1 */
.game_area6{
	background:url("../img/fases/n2e1.png") no-repeat top center;
	width: 1021px;
}

/* nivel 2 etapa 3 */
.game_area7 {
	background:url('../img/fases/n2e3.png') no-repeat top center;
	width: 1021px;
}

/* nivel 2 etapa 5 */
.game_area8 {
	background:url('../img/fases/n2e5.png') no-repeat top center;
	width: 1021px;
}

/* nivel 2 etapa 7 */
.game_area9 {
	background:url('../img/fases/n2e7.png') no-repeat top center;
	width: 1021px;
}

.game_area_item {
	margin: 27px 2px 0;
}

.game_area5_item {
	margin: 0 2px 0 0;
}


 /*** ***/

.btnLeft, .btnLeft_press, .btnRight, .btnRight_press{
	width: 40px;
	height: 70px;
	position: absolute;
	background-image: url(../img/tela/bt_previous.png);
	top:5px;
	left:55px;
	cursor: pointer;
}

.btnLeft:HOVER{
	background-image: url(../img/tela/bt_previous_over.png);
}

.btnLeft_press{
	background-image: url(../img/tela/bt_previous_press.png);
}

.btnRight, .btnRight_press{
	background-image: url(../img/tela/bt_next.png);
	left: 868px;
}

.btnRight:HOVER {
	background-image: url(../img/tela/bt_next_over.png);
}

.btnRight_press{
	background-image: url(../img/tela/bt_next_press.png);
}

.pecadrop{
	position:absolute;
}

.pecadropRadio{
	position:absolute;
	border-radius: 13px 13px 13px 13px;
}
#container_menu{
	overflow:hidden;
	position:relative;
	margin:0 auto;
}



/* Tela de transicao */

#div_area_association #association-feedback {
	text-align: center;
}

.associationFeedbackText {
	height: 85px;
	width: 450px;
	margin: 5px auto;
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11pt;
	font-weight:bold;
	color:#601a01;
	line-height:140%;
}
.associationFeedbackImage {
	background-image: url(../img/trans_screen/trans_img.png);
	height: 289px;
	width: 475px;
	margin: 5px auto 0 auto;
}
.associationFeedbackButton {
	background: url(../img/trans_screen/bt_continuar.png) no-repeat center center;
	height: 43px;
	width: 134px;
	margin: 10px auto 0 auto;
	cursor: pointer;
	text-indent: -99999px !important;
}
.associationFeedbackButton:hover {
	background-image:url(../img/trans_screen/bt_continuar_over.png);
}


/* ESPECIFICO: Posicionar menu ao lado direito do jogo */
.game_area1 {
	float: left;
	width: 85%;
	border: 1px solid red;
}
.game_area_item {
	margin: 0;
	float: none !important;
	height: 200px !important;
	border: 1px solid blue;
}
/* ESPECIFICO: Posicionar menu ao lado direito do jogo */







