#quiz header {
	border-bottom: 0px solid #dbdbdb !important;
	background-color: transparent;
	justify-content: center;
	padding: .75rem;
	/*box-shadow: 0px 1px 1.5px #dbdbdb;*/
}

#quiz footer {
	border-top: 0px solid #dbdbdb !important;
	background-color: white;
	justify-content: center;
	padding: .75rem;
	font-weight: bold;
	box-shadow: 0px -2px 1.5px rgba(10, 10, 10, 0.1);
}

.btn {
	-webkit-filter: drop-shadow(1px 1px 2px #222);
	filter: drop-shadow(1px 1px 2px #222);
}


.title.fadeIn {
	background-repeat: no-repeat;
	background-position: left top;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 4.5s;
	animation-delay: 4.5s;
	-webkit-animation-name: fade;
	animation-name: fade;
	text-align: center;
	margin: auto;
}

.section.is-fullheight .hero-body {
	align-items: flex-start;
	display: grid;
	padding: 0 3rem;
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.section {
	background-color: #F8E88D;
}

.recurso-texto {
	background-color: #FBF8EF;
	padding: 30px 40px;
	box-shadow: 1px 1px 5px #999;
}

.recurso-texto p {
	font-weight: 300 !important;
}

p.fonte {
	text-align: center;
}

#append {
	width: 35%;
}


@media only screen and (max-width: 769px) {

	#append {
		width: 100%;
	}

}


/* ------------------------------ MAGNIFYING GLASS ------------------------------ */

/*Some CSS*/
* {
	margin: 0;
	padding: 0;
}

.magnify {
	/*width: 200px; */
	/*margin: 50px auto; */
	position: relative;
}

/*Lets create the magnifying glass*/
.large {
	width: 175px;
	height: 175px;
	position: absolute;
	border-radius: 100%;

	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
		0 0 7px 7px rgba(0, 0, 0, 0.25),
		inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

	/*Lets load up the large image first*/
	background: url('../img/SPE_ART_EF63_LD_F023.jpg') no-repeat;

	/*hide the glass by default*/
	display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small {
	display: block;
}

.ref {
	font-size: 0.7em;
}

.image img {
	display: block;
	height: auto;
	width: 100%;
	max-height: 68vh;
}

#append {
	text-align: center;
}